:root{
                        /* THEME 1 */
    /* BG */
    --clr-main-bg: hsl(222, 26%, 31%);
    --clr-toggle-bg: hsl(223, 31%, 20%);
    --clr-keypad-bg: hsl(223, 31%, 20%);
    --clr-screen-bg: hsl(224, 36%, 15%);
    /* KEYS */
    --clr-reset-bg: hsl(225, 21%, 49%);
    --clr-reset-shadow: hsl(224, 28%, 35%);
    --clr-equal-bg: hsl(6, 63%, 50%);
    --clr-equal-toggle: hsl(6, 63%, 50%);
    --clr-equal-shadow: hsl(6, 70%, 34%);
    --clr-number-bg: hsl(30, 25%, 89%);
    --clr-number-shadow: hsl(28, 16%, 65%);
    /* TEXT */
    --clr-number-text: hsl(221, 14%, 31%);
    --clr-equal-text: hsl(0, 0%, 100%);
    --clr-button-text: hsl(0, 0%, 100%);
}

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

body{
    background-color: var(--clr-main-bg);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98.5vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 22.5%;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h3, .theme-number + label,.right > p, .js-calculate-output, .number.blue{
    color: var(--clr-equal-text);
}

h3{
    font-size: 28px;
}

.theme-number, .no-appearance{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: none;
}

.right > p{
    position: relative;
    right: 3.5rem;
    bottom: 0.8rem;
    font-size: 10px;
}

.theme-toggle{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.theme-number + label{
    margin-left: 0.5rem;
    font-size: 12px;
    cursor: pointer;
}

.box{
    width: 3.6rem;
    height: 1.2rem;
    background-color: var(--clr-toggle-bg);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.circle{
    width: 20%;
    height: 65%;
    border-radius: 50%;
    background-color: var(--clr-equal-toggle);
    position: relative;
    cursor: pointer;
}

.hidden{
    opacity: 0;
}

.calculate{
    width: 100%;
}

.js-calculate-output{
    outline: 0;
    border: 0;
    background-color: var(--clr-screen-bg);
    width: 100%;
    direction: rtl;
    font-size: 48px;
    padding: 1.5rem;
    border-radius: 8px;
    cursor:default;
}

.number-body{
    background-color: var(--clr-keypad-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.75rem;
    border-radius: 8px;
}

.number{
    width: 5rem;
    height: 3.25rem;
    border-radius: 8px;
    border: 0;
    background-color: var(--clr-number-bg);
    color: var(--clr-number-text);
    box-shadow: 0px 4px 0px var(--clr-number-shadow);
    cursor: pointer;
}

.number:active, .number:hover, .circle:active, .circle:hover{
    filter: brightness(130%);
}

.blue, .red{
    font-size: 24px;
}

.number.blue{
    background-color: var(--clr-reset-bg);
    box-shadow: 0px 4px 0px var(--clr-reset-shadow);
    font-size: 22px;
}

.number.red{
    background-color: var(--clr-equal-bg);
    color: var(--clr-button-text);
    box-shadow: 0px 4px 0px var(--clr-equal-shadow);
    font-size: 22px;
}

.double{
    width: 47.5%;
}

.number{
    font-size: 32px;
}

:root:has(#theme-two:checked){
    --clr-main-bg: hsl(0, 0%, 90%);
    --clr-toggle-bg: hsl(0, 5%, 81%);
    --clr-keypad-bg: hsl(0, 5%, 81%);
    --clr-screen-bg: hsl(0, 0%, 93%);
    /* KEYS */
    --clr-reset-bg: hsl(185, 42%, 37%);
    --clr-reset-shadow: hsl(185, 58%, 25%);
    --clr-equal-bg: hsl(25, 98%, 40%);
    --clr-equal-toggle: hsl(25, 98%, 40%);
    --clr-equal-shadow: hsl(25, 99%, 27%);
    --clr-number-bg: hsl(45, 7%, 89%);
    --clr-number-shadow: hsl(35, 11%, 61%);
    /* TEXT */
    --clr-number-text: hsl(60, 10%, 19%);
    --clr-equal-text: hsl(0, 0%, 100%);
    --clr-button-text: hsl(0, 0%, 100%);
}

:root:has(#theme-three:checked){
    --clr-main-bg: hsl(268, 75%, 9%);
    --clr-toggle-bg: hsl(268, 71%, 12%);
    --clr-keypad-bg: hsl(268, 71%, 12%);
    --clr-screen-bg: hsl(268, 71%, 12%);
    /* KEYS */
    --clr-reset-bg: hsl(281, 89%, 26%);
    --clr-reset-shadow: hsl(285, 91%, 52%);
    --clr-equal-bg: hsl(176, 100%, 44%);
    --clr-equal-toggle: hsl(176, 100%, 44%);
    --clr-equal-shadow: hsl(177, 92%, 70%);
    --clr-number-bg: hsl(268, 47%, 21%);
    --clr-number-shadow: hsl(290, 70%, 36%);
    /* TEXT */
    --clr-number-text: hsl(52, 100%, 62%);
    --clr-equal-text: hsl(0, 0%, 100%);
    --clr-button-text: hsl(198, 20%, 13%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--clr-equal-text);
}

.attribution a {
    color: var(--clr-equal-text)
}